
###> symfony/framework-bundle ###
/.env.dev
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.php-cs-fixer.cache  

# Symfony cache et logs
/var/cache/
/var/log/

# Fichiers de build/dépendances
/vendor/
/node_modules/


# Fichiers système
.DS_Store
Thumbs.db

# Autres (si tu utilises PHPUnit, PHPStan, etc.)
/phpunit.xml
/phpunit.xml.dist
/phpstan.neon
/phpstan.neon.dist
