{% extends './layouts/base.html.twig' %}

{% block title %}{{title}} {% endblock %}

{% block body %}



    {% block main %}
        <main class="main">

            <!-- Page Title -->
            <div class="page-title light-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Cart</h1>
                <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Cart</li>
                </ol>
                </nav>
            </div>
            </div><!-- End Page Title -->

            <!-- Cart Section -->
            <section id="cart" class="cart section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                    <div class="cart-items">
                    <div class="cart-header d-none d-lg-block">
                        <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h5>Product</h5>
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5>Price</h5>
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5>Quantity</h5>
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5>Total</h5>
                        </div>
                        </div>
                    </div>

                    <!-- Cart Item 1 -->
                    <div class="cart-item">
                        <div class="row align-items-center">
                        <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
                            <div class="product-info d-flex align-items-center">
                            <div class="product-image">
                                <img src="assets/img/product/product-1.webp" alt="Product" class="img-fluid" loading="lazy">
                            </div>
                            <div class="product-details">
                                <h6 class="product-title">Lorem ipsum dolor sit amet</h6>
                                <div class="product-meta">
                                <span class="product-color">Color: Black</span>
                                <span class="product-size">Size: M</span>
                                </div>
                                <button class="remove-item" type="button">
                                <i class="bi bi-trash"></i> Remove
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="price-tag">
                            <span class="current-price">$89.99</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="quantity-selector">
                            <button class="quantity-btn decrease">
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="number" class="quantity-input" value="1" min="1" max="10">
                            <button class="quantity-btn increase">
                                <i class="bi bi-plus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="item-total">
                            <span>$89.99</span>
                            </div>
                        </div>
                        </div>
                    </div><!-- End Cart Item -->

                    <!-- Cart Item 2 -->
                    <div class="cart-item">
                        <div class="row align-items-center">
                        <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
                            <div class="product-info d-flex align-items-center">
                            <div class="product-image">
                                <img src="assets/img/product/product-3.webp" alt="Product" class="img-fluid" loading="lazy">
                            </div>
                            <div class="product-details">
                                <h6 class="product-title">Consectetur adipiscing elit</h6>
                                <div class="product-meta">
                                <span class="product-color">Color: White</span>
                                <span class="product-size">Size: L</span>
                                </div>
                                <button class="remove-item" type="button">
                                <i class="bi bi-trash"></i> Remove
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="price-tag">
                            <span class="current-price">$64.99</span>
                            <span class="original-price">$79.99</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="quantity-selector">
                            <button class="quantity-btn decrease">
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="number" class="quantity-input" value="2" min="1" max="10">
                            <button class="quantity-btn increase">
                                <i class="bi bi-plus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="item-total">
                            <span>$129.98</span>
                            </div>
                        </div>
                        </div>
                    </div><!-- End Cart Item -->

                    <!-- Cart Item 3 -->
                    <div class="cart-item">
                        <div class="row align-items-center">
                        <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
                            <div class="product-info d-flex align-items-center">
                            <div class="product-image">
                                <img src="assets/img/product/product-5.webp" alt="Product" class="img-fluid" loading="lazy">
                            </div>
                            <div class="product-details">
                                <h6 class="product-title">Sed do eiusmod tempor</h6>
                                <div class="product-meta">
                                <span class="product-color">Color: Blue</span>
                                <span class="product-size">Size: S</span>
                                </div>
                                <button class="remove-item" type="button">
                                <i class="bi bi-trash"></i> Remove
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="price-tag">
                            <span class="current-price">$49.99</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="quantity-selector">
                            <button class="quantity-btn decrease">
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="number" class="quantity-input" value="1" min="1" max="10">
                            <button class="quantity-btn increase">
                                <i class="bi bi-plus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
                            <div class="item-total">
                            <span>$49.99</span>
                            </div>
                        </div>
                        </div>
                    </div><!-- End Cart Item -->

                    <div class="cart-actions">
                        <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <div class="coupon-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Coupon code">
                                <button class="btn btn-outline-accent" type="button">Apply Coupon</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-md-end">
                            <button class="btn btn-outline-heading me-2">
                            <i class="bi bi-arrow-clockwise"></i> Update Cart
                            </button>
                            <button class="btn btn-outline-remove">
                            <i class="bi bi-trash"></i> Clear Cart
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="cart-summary">
                    <h4 class="summary-title">Order Summary</h4>

                    <div class="summary-item">
                        <span class="summary-label">Subtotal</span>
                        <span class="summary-value">$269.96</span>
                    </div>

                    <div class="summary-item shipping-item">
                        <span class="summary-label">Shipping</span>
                        <div class="shipping-options">
                        <div class="form-check text-end">
                            <input class="form-check-input" type="radio" name="shipping" id="standard" checked="">
                            <label class="form-check-label" for="standard">
                            Standard Delivery - $4.99
                            </label>
                        </div>
                        <div class="form-check text-end">
                            <input class="form-check-input" type="radio" name="shipping" id="express">
                            <label class="form-check-label" for="express">
                            Express Delivery - $12.99
                            </label>
                        </div>
                        <div class="form-check text-end">
                            <input class="form-check-input" type="radio" name="shipping" id="free">
                            <label class="form-check-label" for="free">
                            Free Shipping (Orders over $300)
                            </label>
                        </div>
                        </div>
                    </div>

                    <div class="summary-item">
                        <span class="summary-label">Tax</span>
                        <span class="summary-value">$27.00</span>
                    </div>

                    <div class="summary-item discount">
                        <span class="summary-label">Discount</span>
                        <span class="summary-value">-$0.00</span>
                    </div>

                    <div class="summary-total">
                        <span class="summary-label">Total</span>
                        <span class="summary-value">$301.95</span>
                    </div>

                    <div class="checkout-button">
                        <a href="#" class="btn btn-accent w-100">
                        Proceed to Checkout <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>

                    <div class="continue-shopping">
                        <a href="#" class="btn btn-link w-100">
                        <i class="bi bi-arrow-left"></i> Continue Shopping
                        </a>
                    </div>

                    <div class="payment-methods">
                        <p class="payment-title">We Accept</p>
                        <div class="payment-icons">
                        <i class="bi bi-credit-card"></i>
                        <i class="bi bi-paypal"></i>
                        <i class="bi bi-wallet2"></i>
                        <i class="bi bi-bank"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

            </div>

            </section><!-- /Cart Section -->

        </main>
        
        
    {% endblock %}
    {% block footer %}
            <footer id="footer" class="footer dark-background">
                <div class="footer-main">
                <div class="container">
                    <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget footer-about">
                        <a href="index.html" class="logo">
                            <span class="sitename">BasketsShop</span>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nibh vehicula, facilisis magna ut, consectetur lorem. Proin eget tortor risus.</p>

                        <div class="social-links mt-4">
                            <h5>Connect With Us</h5>
                            <div class="social-icons">
                            <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
                            <a href="#" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
                            <a href="#" aria-label="Pinterest"><i class="bi bi-pinterest"></i></a>
                            <a href="#" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                        <h4>Shop</h4>
                        <ul class="footer-links">
                            <li><a href="category.html">New Arrivals</a></li>
                            <li><a href="category.html">Bestsellers</a></li>
                            <li><a href="category.html">Women's Clothing</a></li>
                            <li><a href="category.html">Men's Clothing</a></li>
                            <li><a href="category.html">Accessories</a></li>
                            <li><a href="category.html">Sale</a></li>
                        </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                        <h4>Support</h4>
                        <ul class="footer-links">
                            <li><a href="support.html">Help Center</a></li>
                            <li><a href="account.html">Order Status</a></li>
                            <li><a href="shiping-info.html">Shipping Info</a></li>
                            <li><a href="return-policy.html">Returns &amp; Exchanges</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                        <h4>Contact Information</h4>
                        <div class="footer-contact">
                            <div class="contact-item">
                            <i class="bi bi-geo-alt"></i>
                            <span>123 Fashion Street, New York, NY 10001</span>
                            </div>
                            <div class="contact-item">
                            <i class="bi bi-telephone"></i>
                            <span>+1 (555) 123-4567</span>
                            </div>
                            <div class="contact-item">
                            <i class="bi bi-envelope"></i>
                            <span>hello@example.com</span>
                            </div>
                            <div class="contact-item">
                            <i class="bi bi-clock"></i>
                            <span>Monday-Friday: 9am-6pm<br>Saturday: 10am-4pm<br>Sunday: Closed</span>
                            </div>
                        </div>

                        <div class="app-buttons mt-4">
                            <a href="#" class="app-btn">
                            <i class="bi bi-apple"></i>
                            <span>App Store</span>
                            </a>
                            <a href="#" class="app-btn">
                            <i class="bi bi-google-play"></i>
                            <span>Google Play</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="footer-bottom">
                <div class="container">
                    <div class="row gy-3 align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="copyright">
                        <p>© <span>Copyright</span> <strong class="sitename">NiceShop</strong>. All Rights Reserved.</p>
                        </div>
                        <div class="credits mt-1">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you've purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex flex-wrap justify-content-lg-end justify-content-center align-items-center gap-4">
                        <div class="payment-methods">
                            <div class="payment-icons">
                            <i class="bi bi-credit-card" aria-label="Credit Card"></i>
                            <i class="bi bi-paypal" aria-label="PayPal"></i>
                            <i class="bi bi-apple" aria-label="Apple Pay"></i>
                            <i class="bi bi-google" aria-label="Google Pay"></i>
                            <i class="bi bi-shop" aria-label="Shop Pay"></i>
                            <i class="bi bi-cash" aria-label="Cash on Delivery"></i>
                            </div>
                        </div>

                        <div class="legal-links">
                            <a href="tos.html">Terms</a>
                            <a href="privacy.html">Privacy</a>
                            <a href="tos.html">Cookies</a>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
                </div>
            </footer>
            <!-- Scroll Top -->
            <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        {% endblock %}
{% endblock %}

